name: .NET Core
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
 APP_PATH: "./Action2BlazorApp"
 # Stop wasting time caching packages
 DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
 # Disable sending usage data to Microsoft
 DOTNET_CLI_TELEMETRY_OPTOUT: true

 # Official NuGet Feed settings
 NUGET_FEED: https://api.nuget.org/v3/index.json
 NUGET_KEY: ${{ secrets.NUGET_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout GitHub actions
      uses: actions/checkout@v2

    - name: Install Actions core
      run: |
          npm init
          install @actions/core
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore ${{env.APP_PATH}}
    - name: Build code
      run: dotnet build ${{env.APP_PATH}} --configuration Release --no-restore
    - name: Test code
      run: dotnet test ${{env.APP_PATH}} --no-restore --verbosity normal


    #- name: Publish application
    #  run: dotnet publish "./Action2BlazorApp" -c Release -o Action2BlazorApp
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: ${{env.APP_PATH}}
